<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ejercicio en clase</title>
  <link rel="stylesheet" href="../styles/ejercicio.css">
</head>

<body>
  <article class="cart">
    <img class="banner" src="../chica-bailando.jpg" alt="imagen de chica bailando">
    <div class="cart-content">
      <h2>Order Summary</h2>
      <p>You can now listen to millions of songs, audiobooks, and podcasts on any device anywhere you like!</p>
      <div class="cart-content-price">
        <img src="../icon-music.webp" alt="icono de musica">
        <div class="cart-plans">
          <h3>Annual Plan</h3>
          <p>$55.00/year</p>
        </div>
        <a href="#">Change</a>
      </div>
      <!-- a: redireccionar el usuario -->
      <!-- button: despega un acción -->
      <button class="btn-payment">Procees to Payment</button>
      <button class="btn-cancel">Cancel Order</button>
    </div>
  </article>
</body>

</html>