<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../styles/flex.css">
</head>

<body>
  <h1>display flex -> Flexbox permite alinear elementos en una sola dimensión (horizontal o vertical).</h1>
  <header>
    <section class="contenedor-flex-header">
      <img src="../logo.avif" alt="">
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="/about-us">About us</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </section>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia odit perspiciatis dolor aperiam laudantium
      eaque quisquam unde quas itaque blanditiis.</p>
  </header>
</body>

</html>